* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Open Sans;
}

/*utility*/
a {
    text-decoration: none;
    padding: 10px;

}

a:hover{
    transition: 0.3s;
    color: rgb(255, 6, 6);
}

.link-decoration{
    text-decoration: underline;
    color: #0061FE;
}

.btn {
    margin: 0px 10px;
    padding: 10px;
    background-color: white;
  
}

.btn:hover{
    transition: 0.3s;
    color: rgb(255, 0, 0);
}

.none {
    background: none;
    border: none;
}

.backg-blu {
    background-color: #0061FE;
    border: none;
    color: rgb(255, 255, 255);
}

.blu{
    background-color: #0061FE;
}
.color-white {
    color: white;
}

.color-blu{
    color: #0061FE;
}

.color-gray{
    color: gray;
}

.color-black {
    color: #000000;
}

.padding-top {
    padding-top: 30px;
}

.padding-top-50{
    padding-top: 50px;
}

.text-center {
    text-align: center;
}

.padding-bottom{
padding-bottom: 35px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-left-30{
    padding-left: 30px;
}

.font-size{
    font-size: 55px;
}

.text-center{
    text-align: center;
}

.margin-left{
    margin-left: 845px;
}

/*header*/

header {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

h1 {
    margin-right: 338px;
    font-size:62px ;
    font-weight: 900;
}

.left {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    padding: 10px;
}

.right {
    display: flex;
    align-items: center;
}


/*main*/

/*Jumbotron*/
.jumbotron {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #B4D0E6;
    gap: 30px;
    height: 652px;
}

.jumbo-title {
    padding-top: 50px;

}

.jumbo-under {
    display: flex;
}

.jumbo-text {
    width: 365px;
}


.jumbo-img {
    height: 480px;
    width: 790px;
    margin: auto;
}

.jumbo {
    width: 100%;
    height: 100%;
}


/*sezione numero 1*/

.section1 {
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.section1-title{
    margin-right: 675px;
    margin-top: 120px;
    line-height: 5;
}

.section1-column {
    display: flex;
    gap: 40px;
    width: 60%;
}

.column-title {
    margin: 25px;
    line-height: 2;
}

.column-content {
    margin: 25px;
    line-height: 2;
    font-size: 14px;
}

.column {
    min-height: 773px;
    width: 325px;
    margin: auto;
    border: solid rgb(0, 0, 0) 1px;
}

.column-large {
    height: 210px;
    width: 59%;
    margin: auto;
    border: solid black 1px;
    padding-left: 25px;
}

/*sezione numero 2*/
.section2 {
    margin-top: 60px;
    display: flex;

    justify-content: center;
    gap: 30px;
}

.section2-img {
    height: 600px;
    width: 42%;
}

.img100 {
    width: 100%;
    height: 100%;
}

.section2-text {
    height: 350px;
    width: 16%;

}

/*sezione numero 3*/
.section3-title {
    text-align: center;
    padding-top: 120px;
    margin-right: 477px;
    font-size: 20px;
}

.section3-square {
    height: 1010px;
    margin: 0 auto;
    width: 62%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 5px;
}

.square {
    height: 500px;
    width: 33%;
}

.square-img{
    width: 100%;
    height: 60%;
}
/*sezione numero 4*/

.section4-title {
    margin: 60px 181px;
}


/*sezione footer*/

.footer {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    gap: 167px;
}

ul>li {
    list-style: none;
    line-height: 40px;
}

.footer-list {
    height: 400px;
    margin-top: 60px;
}

.bold {
    font-weight: bold;
    padding-bottom: 25px;
}